.title {
  color: gray;

  line-height: 1.5rem;
}
.mainText {
  color: gray;
}

.leftScreen {
  background-image: url("/billing-software.png");
  display: flex;
  align-items: center;
  background-size: cover;
  height: 100%;
}
